<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>第1回 灵根育孕源流出 心性修持大道生</string>
	<string>第2回 悟彻菩提真妙理 断魔归本合元神</string>
	<string>第3回 四海千山皆拱伏 九幽十类尽除名</string>
	<string>第4回 官封弼马心何足 名注齐天意未宁</string>
	<string>第5回 乱蟠桃大圣偷丹 反天宫诸神捉怪</string>
	<string>第6回 观音赴会问原因 小圣施威降大圣</string>
	<string>第7回 八卦炉中逃大圣 五行山下定心猿</string>
	<string>第8回 我佛造经传极乐 观音奉旨上长安</string>
	<string>第9回 袁守诚妙算无私曲 老龙王拙计犯天条</string>
	<string>第10回 二将军宫门镇鬼 唐太宗地府还魂</string>
	<string>第11回 还受生唐王遵善果 度孤魂萧瑀正空门</string>
	<string>第12回 玄奘秉诚建大会 观音显象化金蝉</string>
	<string>第13回 陷虎穴金星解厄 双叉岭伯钦留僧</string>
	<string>第14回 心猿归正 六贼无踪</string>
	<string>第15回 蛇盘山诸神暗佑 鹰愁涧意马收缰</string>
	<string>第16回 观音院僧谋宝贝 黑风山怪窃袈裟</string>
	<string>第17回 孙行者大闹黑风山 观世音收伏熊罴怪</string>
	<string>第18回 观音院唐僧脱难 高老庄行者降魔</string>
	<string>第19回 云栈洞悟空收八戒 浮屠山玄奘受心经</string>
	<string>第20回 黄风岭唐僧有难 半山中八戒争先</string>
	<string>第21回 护法设庄留大圣 须弥灵吉定风魔</string>
	<string>第22回 八戒大战流沙河 木叉奉法收悟净</string>
	<string>第23回 三藏不忘本 四圣试禅心</string>
	<string>第24回 万寿山大仙留故友 五庄观行者窃人参</string>
	<string>第25回 镇元仙赶捉取经僧 孙行者大闹五庄观</string>
	<string>第26回 孙悟空三岛求方 观世音甘泉活树</string>
	<string>第27回 尸魔三戏唐三藏 圣僧恨逐美猴王</string>
	<string>第28回 花果山群妖聚义 黑松林三藏逢魔</string>
	<string>第29回 脱难江流来国土 承恩八戒转山林</string>
	<string>第30回 邪魔侵正法 意马忆心猿</string>
	<string>第31回 猪八戒义激猴王 孙行者智降妖怪</string>
	<string>第32回 平顶山功曹传信 莲花洞木母逢灾</string>
	<string>第33回 外道迷真性 元神助本心</string>
	<string>第34回 魔王巧算困心猿 大圣腾那骗宝贝</string>
	<string>第35回 外道施威欺正性 心猿获宝伏邪魔</string>
	<string>第36回 心猿正处诸缘伏 劈破旁门见月明</string>
	<string>第37回 鬼王夜谒唐三藏 悟空神化引婴儿</string>
	<string>第38回 婴儿问母知邪正 金木参玄见假真</string>
	<string>第39回 一粒金丹天上得 三年故主世间生</string>
	<string>第40回 婴儿戏化禅心乱 猿马刀归木母空</string>
	<string>第41回 心猿遭火败 木母被魔擒</string>
	<string>第42回 大圣殷勤拜南海 观音慈善缚红孩</string>
	<string>第43回 黑河妖孽擒僧去 西洋龙子捉鼍回</string>
	<string>第44回 法身元运逢车力 心正妖邪度脊关</string>
	<string>第45回 三清观大圣留名 车迟国猴王显法</string>
	<string>第46回 外道弄强欺正法 心猿显圣灭诸邪</string>
	<string>第47回 圣僧夜阻通天水 金木垂慈救小童</string>
	<string>第48回 魔弄寒风飘大雪 僧思拜佛履层冰</string>
	<string>第49回 三藏有灾沉水宅 观音救难现鱼篮</string>
	<string>第50回 情乱性从因爱欲 神昏心动遇魔头</string>
	<string>第51回 心猿空用千般计 水火无功难炼魔</string>
	<string>第52回 悟空大闹金山兜洞 如来暗示主人公</string>
	<string>第53回 禅主吞餐怀鬼孕 黄婆运水解邪胎</string>
	<string>第54回 法性西来逢女国 心猿定计脱烟花</string>
	<string>第55回 色邪淫戏唐三藏 性正修持不坏身</string>
	<string>第56回 神狂诛草寇 道昧放心猿</string>
	<string>第57回 真行者落伽山诉苦 假猴王水帘洞誊文</string>
	<string>第58回 二心搅乱大乾坤 一体难修真寂灭</string>
	<string>第59回 唐三藏路阻火焰山 孙行者一调芭蕉扇</string>
	<string>第60回 牛魔王罢战赴华筵 孙行者二调芭蕉扇</string>
	<string>第61回 猪八戒助力败魔王 孙行者三调芭蕉扇</string>
	<string>第62回 涤垢洗心惟扫塔 缚魔归正乃修身</string>
	<string>第63回 二僧荡怪闹龙宫 群圣除邪获宝贝</string>
	<string>第64回 荆棘岭悟能努力 木仙庵三藏谈诗</string>
	<string>第65回 妖邪假设小雷音 四众皆遭大厄难</string>
	<string>第66回 诸神遭毒手 弥勒缚妖魔</string>
	<string>第67回 拯救驼罗禅性稳 脱离秽污道心清</string>
	<string>第68回 朱紫国唐僧论前世 孙行者施为三折肱</string>
	<string>第69回 心主夜间修药物 君王筵上论妖邪</string>
	<string>第70回 妖魔宝放烟沙火 悟空计盗紫金铃</string>
	<string>第71回 行者假名降怪 观音现象伏妖王</string>
	<string>第72回 盘丝洞七情迷本 濯垢泉八戒忘形</string>
	<string>第73回 情因旧恨生灾毒 心主遭魔幸破光</string>
	<string>第74回 长庚传报魔头狠 行者施为变化能</string>
	<string>第75回 心猿钻透阴阳窍 魔王还归大道真</string>
	<string>第76回 心神居舍魔归性 木母同降怪体真</string>
	<string>第77回 群魔欺本性 一体拜真如</string>
	<string>第78回 比丘怜子遣阴神 金殿识魔谈道德</string>
	<string>第79回 寻洞擒妖逢老寿 当朝正主救婴儿</string>
	<string>第80回 姹女育阳求配偶 心猿护主识妖邪</string>
	<string>第81回 镇海寺心猿知怪 黑松林三众寻师</string>
	<string>第82回 姹女求阳 元神护道</string>
	<string>第83回 心猿识得丹头 姹女还归本性</string>
	<string>第84回 难灭伽持圆大觉 法王成正体天然</string>
	<string>第85回 心猿妒木母 魔主计吞禅</string>
	<string>第86回 木母助威征怪物 金公施法灭妖邪</string>
	<string>第87回 凤仙郡冒天止雨 孙大圣劝善施霖</string>
	<string>第88回 禅到玉华施法会 心猿木母授门人</string>
	<string>第89回 黄狮精虚设钉钯宴 金木土计闹豹头山</string>
	<string>第90回 师狮授受同归一 盗道缠禅静九灵</string>
	<string>第91回 金平府元夜观灯 玄英洞唐僧供状</string>
	<string>第92回 三僧大战青龙山 四星挟捉犀牛怪</string>
	<string>第93回 给孤园问古谈因 天竺国朝王遇偶</string>
	<string>第94回 四僧宴乐御花园 一怪空怀情欲喜</string>
	<string>第95回 假合真形擒玉兔 真阴归正会灵元</string>
	<string>第96回 寇员外喜待高僧 唐长老不贪富贵</string>
	<string>第97回 金酬外护遭魔毒 圣显幽魂救本原</string>
	<string>第98回 猿熟马驯方脱壳 功成行满见真如</string>
	<string>第99回 九九数完魔刬尽 三三行满道归根</string>
	<string>第100回 径回东土 五圣成真</string>
</array>
</plist>
