<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>论君道</string>
	<string>论政体</string>
	<string>论任贤</string>
	<string>论求谏</string>
	<string>论纳谏</string>
	<string>君臣鉴戒</string>
	<string>论择官</string>
	<string>论封建</string>
	<string>太子诸王定分</string>
	<string>尊敬师傅</string>
	<string>教戒太子诸王</string>
	<string>规谏太子</string>
	<string>论仁义</string>
	<string>论忠义</string>
	<string>论孝友</string>
	<string>论公平</string>
	<string>论诚信</string>
	<string>论俭约</string>
	<string>论谦让</string>
	<string>论仁恻</string>
	<string>论慎所好</string>
	<string>论慎言语</string>
	<string>论杜谗邪</string>
	<string>论悔过</string>
	<string>论奢纵</string>
	<string>论贪鄙</string>
	<string>崇儒学</string>
	<string>论文史</string>
	<string>论礼乐</string>
	<string>论务农</string>
	<string>论刑法</string>
	<string>论赦令</string>
	<string>论贡赋</string>
	<string>辨兴亡</string>
	<string>论征伐</string>
	<string>论安边</string>
	<string>论行幸</string>
	<string>论畋猎</string>
	<string>论灾祥</string>
	<string>论慎终</string>
</array>
</plist>
