<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>三国演义</string>
	<string>水浒传</string>
	<string>西游记</string>
	<string>红楼梦</string>
	<string>史记</string>
	<string>孙子兵法</string>
	<string>孙膑兵法</string>
	<string>三十六计</string>
	<string>贞观政要</string>
</array>
</plist>
