<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>《三国演义》描写了从东汉末年到西晋初年之间近105年的历史风云，以描写战争为主，反映了东汉末年的群雄割据混战和汉、魏、吴三国之间的政治和军事斗争。</string>
	<string>《水浒传》也是汉语文学中最具备史诗特征的作品之一。  是中国历史上最早用白话文写成的章回小说之一。</string>
	<string>《西游记》作为中国古典四大名著之一、中国古代第一部浪漫主义长篇神魔小说，该书深刻地描绘了当时的社会现实，是魔幻现实主义的开创作品。</string>
	<string>《红楼梦》的作者具有初步的民主主义思想，他对现实社会包括宫廷及官场的黑暗、封建贵族阶级及其家庭的腐朽，封建的科举制度、婚姻制度、奴婢制度、等级制度</string>
	<string>《史记》是由司马迁撰写的中国第一部纪传体通史。记载了上自上古传说中的黄帝时代，下至汉武帝元狩元年间共3000多年的历史（哲学、政治、经济、军事等）。</string>
	<string>《孙子兵法》又称《孙武兵法》、《吴孙子兵法》、《孙子兵书》、《孙武兵书》等，英文名为《The Art of War》，是中国古典军事文化遗产中的璀璨瑰宝，是中国优秀文化传统的重要组成部分，是世界三大兵书之一</string>
	<string>《孙膑兵法》是中国古代的著名兵书，也是《孙子兵法》后“孙子学派”的又一力作。</string>
	<string>《三十六计》或称“三十六策”，是指中国古代三十六个兵法策略，语源于南北朝，成书于明清</string>
	<string>《贞观政要》是唐代史学家吴兢著的一部政论性史书。全书十卷四十篇，分类编辑了唐太宗在位的二十三年中，与魏征、房玄龄、杜如晦等大臣在治政时的问题</string>
</array>
</plist>
