<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>擒庞涓</string>
	<string>见威王</string>
	<string>威王问</string>
	<string>陈忌问垒</string>
	<string>篡卒</string>
	<string>月战</string>
	<string>八阵</string>
	<string>地葆</string>
	<string>势备</string>
	<string>兵情</string>
	<string>行篡</string>
	<string>杀士</string>
	<string>延气</string>
	<string>官一</string>
	<string>强兵</string>
	<string>十阵</string>
	<string>十问</string>
	<string>略甲</string>
	<string>客主人分</string>
	<string>善者</string>
	<string>五名五恭</string>
	<string>兵失</string>
	<string>将义</string>
	<string>将德</string>
	<string>将败</string>
	<string>将失</string>
	<string>雄牝城</string>
	<string>五度九夺</string>
	<string>积疏</string>
	<string>奇正</string>
</array>
</plist>
